
/* Main */
body {
    background-image: url("/image/data/backgrounds/burger-tr.png");
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: top center;
    background-color: #e9e8e9;
    font-family: "Roboto",sans-serif;
    color: #333333;
}
a {
    color: #ED1D24;
}
a:hover {
    color: #ED1D24;
}
.content > .container {
    background-color: #FFFFFF;
}

/* Buttons */
.btn-success,
.carousel .bx-wrapper .bx-controls-direction a,
.box-content .bx-wrapper .bx-controls-direction a,
.box-content .bx-wrapper .bx-pager.bx-default-pager a.active,
.box-content .bx-wrapper .bx-pager.bx-default-pager a.active:hover,
.box-content .bx-wrapper .bx-pager.bx-default-pager a.active:focus,
.box-content .bx-wrapper .bx-pager.bx-default-pager a.active:active,
.carousel .bx-wrapper .bx-pager.bx-default-pager a.active:hover,
.box-content .bx-wrapper .bx-pager.bx-default-pager a.active:hover,
.carousel .bx-wrapper .bx-pager.bx-default-pager a.active:focus,
.box-content .bx-wrapper .bx-pager.bx-default-pager a.active:focus,
.carousel .bx-wrapper .bx-pager.bx-default-pager a.active:active,
.box-content .bx-wrapper .bx-pager.bx-default-pager a.active:active,
.carousel .bx-wrapper .bx-pager.bx-default-pager a.active.active,
.box-content .bx-wrapper .bx-pager.bx-default-pager a.active.active,
.open .dropdown-toggle.carousel .bx-wrapper .bx-pager.bx-default-pager a.active,
.open .dropdown-toggle.box-content .bx-wrapper .bx-pager.bx-default-pager a.active {
    background-color: #d6d4d0;
    border-color: #d6d4d0;
    color: #ED1D24;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success,
.carousel .bx-wrapper .bx-controls-direction a:hover,
.box-content .bx-wrapper .bx-controls-direction a:hover,
.carousel .bx-wrapper .bx-controls-direction a:focus,
.box-content .bx-wrapper .bx-controls-direction a:focus,
.carousel .bx-wrapper .bx-controls-direction a:active,
.box-content .bx-wrapper .bx-controls-direction a:active {
    background-color: #bbbbc7;
    border-color: #bbbbc7;
    color: #ED1D24;
}
.btn-danger {
    color: #FFFFFF;
    background-color: #ED3226;
    border-color: #ED3226;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    color: #FFFFFF;
    background-color: #D2322D;
    border-color: #D2322D;
}
.product-list .cart .btn-link,
.btn-link,
.cart-area .btn-link {
    color: #999999;
}
.product-list .cart .btn-link:hover,
.product-list .cart .btn-link:focus,
.product-list .cart .btn-link:active,
.product-list .cart .btn-link.active,
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active,
.cart-area .btn-link:hover,
.cart-area .btn-link:focus,
.cart-area .btn-link:active,
.cart-area .btn-link.active {
    color: #555555;
}
.btn-warning {
    color: #ED1D24;
    background-color: #d6d4d0;
    border-color: #d6d4d0;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    color: #ED1D24;
    background-color: #bbbbc7;
    border-color: #bbbbc7;
}
/*footer*/
#footer > .container {
    border-top: 5px solid #ED1D24;
    background: #FFFFFF;
}
#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6 {
    color: #333333;
}
#footer .column ul li a {
    color: #4381C3;
}
#footer #powered,
#footer #about {
    color: #333333;
}

/*header*/
.header > .container {
    background-color: #FFFFFF;
}
.topbar {
    background-color: #ED1D24;
}
.box .nav-tabs > li.active > a,
.box .nav-tabs > li.active > a:hover,
.box .nav-tabs > li.active > a:focus {
    border-bottom-color: #ED1D24;
}
.menu-container .nav > li > div ul {
    background-color: #ED1D24;
    border: 1px solid #ED1D24;
}
.menu-container .nav > li > div .arrow {
    border-color: transparent transparent #ED1D24;
}
.box-heading span {
    border-bottom-color: #ED1D24;
}

#currency a,
.menu-container .nav > li > a,
.menu-container .nav > li > div ul > li > a,
#cart .heading a span {
    color: #FFFFFF;
}

#currency a:hover,
#currency a:focus,
.menu-container .nav > li > div ul > li > a:hover,
.menu-container .nav > li > div ul > li > a:focus {
    color: #FFFFFF;
}

#currency a.active,
.menu-container .nav > li > a i {
    color: #4381C3;
}
.menu-container .nav > li > div ul > li > a:hover {
    background-color: #4381C3;
}

.header-right {
    background-color: #4381C3;
    color: #FFFFFF;
}
.header-right a {
    color: #EEEEEE;
}
.header-left {
    background-color: #4381C3;
    color: #bbbbc7;
}
.header-left a {
    color: #EEEEEE;
}
.social > a {
    color: #ED1D24;
}
.social > a:hover,
.social > a:focus {
    color: #4381C3;
}

/*goods*/
.product-grid .name a,
.product-list .name a,
.product-slider .si-title a,
.carousel .item .caption {
    color: #ED1D24;
}

.cart-area .price .price-fixed,
.price div,
#cart .mini-cart-total .total,
#cart .mini-cart-info .total {
    color: #4381C3;
}

.cart-area .review .stars i,
.rating i {
    color: #ED1D24;
}

.cart-area {
    background-color: #e9e8e9;
}

